### Ensemble Notebook.

This is a simple ensemble of both submission files

### Author: Olufemi Victor Tolulope

In [1]:
import pandas as pd

In [2]:
one = pd.read_csv("model1.csv")
two = pd.read_csv("model2.csv")

In [3]:
one.head()

                           Tweet_ID  Index
0  ID_721565577505030144_loc1_start     28
1    ID_721565577505030144_loc1_end     35
2  ID_721565577505030144_loc2_start      0
3    ID_721565577505030144_loc2_end      0
4  ID_721565577505030144_loc3_start      0

In [4]:
two.head()

                           Tweet_ID  Index
0  ID_721565577505030144_loc1_start     28
1    ID_721565577505030144_loc1_end     35
2  ID_721565577505030144_loc2_start      0
3    ID_721565577505030144_loc2_end      0
4  ID_721565577505030144_loc3_start      0

In [6]:
sub = one.copy()
sub["Index"] = (one["Index"]+two["Index"])*0.5

In [7]:
sub

                                  Tweet_ID  Index
0         ID_721565577505030144_loc1_start   28.0
1           ID_721565577505030144_loc1_end   35.0
2         ID_721565577505030144_loc2_start    0.0
3           ID_721565577505030144_loc2_end    0.0
4         ID_721565577505030144_loc3_start    0.0
...                                    ...    ...
138239    ID_1177156754829926400_loc15_end    0.0
138240  ID_1177156754829926400_loc16_start    0.0
138241    ID_1177156754829926400_loc16_end    0.0
138242  ID_1177156754829926400_loc17_start    0.0
138243    ID_1177156754829926400_loc17_end    0.0

[138244 rows x 2 columns]

In [8]:
sub.to_csv("confirmation of reproducibility.csv", index=False)